*~
.*~
.#*

########################################################################
# latex files
*.aux
*.nav
*.snm
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.log
*.aux.make
*.d
*.auxbbl.make
*.auxtarget.make
*.nav.make
*.out
*.out.make
example.pdf
*.toc
*.toc.make

########################################################################
# Mac OS X file
.DS_Store
.DS_Store?
._*

